modules = ["nodejs-20", "web"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34373
externalPort = 3000

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_log_in_with_replit==1.0.0", "javascript_database==1.0.0"]
expertMode = true

[userenv]

[userenv.shared]
MONGODB_URI = "mongodb://darwfit_opengolden:cb8e60dc8af03f25da5eaf2dded8fe26a84f07c7@y44gzm.h.filess.io:27018/darwfit_opengolden"
JWT_SECRET = "Darwfit2025_Super$ecure_JWT_K3y!@#$%^&*_OpengoldenFitness_Platform"
